{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/featured-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section class="featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection">
  {%- assign collection = collections[section.settings.collection] -%}

  <h2>{{ collection.title | escape }}</h2>

  <p class="featured-collection-description">{{ collection.description }}</p>

  
    <div class="flickity-section__carousel main-carousel carousel-{{section.id }} text-center"
        data-flickity='{
          "cellAlign": "{{left}}",
          "draggable": true,
          "initialIndex": "{{0}}",
          "adaptiveHeight": true
        }'>
        {% for product in collection.products limit: 6 %}
          {% assign current_variant = product.selected_or_first_available_variant %}
        
          <a class="carousel-cell" href="{{ product.url | within: collection }}">
            <div class="slider-wrapper">
              {% if product.featured_image != blank %}
                {{ product.featured_image | img_url: 'large' | img_tag }}
              {% endif %}
              
              <span class="add-to-cart button secondary" js-ajax-cart="addToCart" data-variant-id="{{ current_variant.id }}" data-quantity="1">Add to cart</span>
              
            </div>

            <div class="product-details">
              <h5>{{ product.title | escape }}</h5>

              <p>
                {% include 'product-price' %}
              </p>
            </div>
          </a>
        {% endfor %}
      </div>
  
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
